body{ 
	padding-top: 70px; 
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-brand{
	/* font-family: 'Shadows Into Light Two', cursive; */
	font-family: 'Roboto Condensed', sans-serif;
}

.nav{
	/* font-family: 'Shadows Into Light Two', cursive; */
	font-family: 'Roboto Condensed', sans-serif;
}

.navbar-footer{
	margin-top: 20px;
	margin-bottom: 0px;
}

.footer-images{
	height: 35px;
	padding-top: 10px;
}

/*
.container .container-fluid .row{
	font-family: 'Roboto Condensed', sans-serif;
}
*/


#index-phrase{
	padding-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}

#carousel-index{
}

.carousel-index-photo{
	margin: auto auto;
}

#about-columns{
	padding-bottom: 30px;
}

.team-row{
	padding-top: 20px;
}
.team-photo{
	background-color: #eee; 
	height: 100px; 
	width: 100px;
}

.napkinsketch-example-photo{
	width: 320px;
}

.publication{
	padding-left: 20px;
	padding-top: 10px;
}

.abstract-pdf-link{
	padding-left: 5px;
}

#animation-subtitle{
	padding-top: 20px;
}