.product i{
	display:block;
	font-size:0.8em;
	font-weight:normal;
	font-style:normal;
}

.product img{
	margin:10px;
}

.product b{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0.9em;
}

.product{
	height: 80px;
}


.meter { 
	height: 20px; 
	position: relative;
}

.meter > span {
	display: block;
	height: 100%;	   
	background-color: rgb(43,194,83);	
	position: relative;
	overflow: hidden;
}

.online, .offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: grey;
}


@media all and (min-width: 650px){

	.rightColumn{
		width:56%;
		float:right;
		margin-left:4%;
	}
	
	.leftColumn{
		width:40%;
		float:left;
	}

}
#chatwindow{
    position:relative;
    height:400px;
    width:320px;
    /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:1px solid #000;
}
#messagewindow{
    overflow:auto;
    top:0;
    bottom:3em;
}
#inputcontainer{
    display:block;
    bottom:0;
    height:1em;
    padding:.5em;
    margin-top:1em;
}

#inputcontainer > p{
    margin:0;
}

