<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: Your next upcoming task starts <%= @minutes %> minutes early</h1>
    <p>
      A task has been completed earlier than expected. As a reslult, your next upcoming task starts <%= @minutes %> minutes early. 
    </p>
  </body>
</html>