<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: A Task has been completed <%= @minutes %> minutes early</h1>
    <p>
      A task has been completed <%= @minutes %> minutes early. Please checkout Foundry for the new schedule. 
    </p>
  </body>
</html>