<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: The team is running <%= @delay_estimation %> behind schedule</h1>
    <p>   
		Unfortunately, <%= @event_name %> by <%= @dri_role %> is delayed and your next upcoming task will not start on time. Foundry will notify you when the delayed task is finished. 
    </p>
  </body>
</html>