<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: Confirm your email address</h1>
    <p>
      Please click on the following link to confirm your email address:
    </p>
    <p>
      <a href="<%= @url %>">Confirm email</a>
    </p>
  </body>
</html>