<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: The delayed task is finished</h1>
    <p>
      The delayed task is finished. Your next upcoming task will begin in <%= @minutes %>. 
 

    </p>
  </body>
</html>