<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash Teams: Your next upcoming task will not start on time</h1>
    <p>   
		Unfortunately, a task is delayed and your next upcoming task will not start on time. Foundry will notify you when the delayed task is finished. 
    </p>
  </body>
</html>