<!-- Confirm delete modal (pops up when user tries to delete a member, event, etc.) -->
		<div id="confirmDelete" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Confirm Delete" aria-hidden="true">
  			<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    			<h3 id="confirmDeleteLabel" align = "center" ></h3>
  			</div>
  			<div id = "confirmDeleteText" align = "center" class="modal-body">
  			</div>
  			<div class="modal-footer">
    			<button class="btn" data-dismiss="modal" aria-hidden="true" >Cancel</button> 
    			<button id= "deleteButton" class="btn btn-danger" ></button>
  			</div>
		</div>
