<h5 id="projectOverviewHeader"><span class="span11">PROJECT OVERVIEW</span>
<!-- <span class="span1" style="font-weight: normal;"><a onclick="editProjectOverview()">Edit</a></span> -->
<span class="span1" id="projectOverviewEditLink"></span>
</h5> 
<!-- <p class="span2"><a onclick="editProjectOverview()">Edit</a></p> -->

<div id="projectOverview" style="margin-bottom: 0px; padding-bottom: 0px;">

<!--
<form name='projectOverviewForm' id="projectOverviewForm" style="margin-bottom: 5px;">

<textarea type='text' id='projectOverviewInput' rows="6" placeholder='Description of project...'></textarea>
  
  <button class="btn btn-default" type="button">Cancel</button>

  <button class="btn btn-success" type="button" onclick="saveProjectOverview()" style="float: right;">Save</button>

</form>
-->

</div>