<h5 id="projectOverviewHeader"><span class="span11">PROJECT OVERVIEW</span>
<!-- <span class="span1" style="font-weight: normal;"><a onclick="editProjectOverview(false)">Edit</a></span> -->
<span class="span1" id="projectOverviewEditLink"></span>
</h5> 

<div id="projectOverview" style="margin-bottom: 0px; padding-bottom: 0px;">

</div>

<!-- <div> -->

<!-- Button to trigger modal -->
<!-- <a href="#myModal" role="button" class="btn" data-toggle="modal">Launch PO</a> -->

<!-- </div> -->

<!-- Project Overview Modal (triggered by info button next to the flash team title) -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Project Overview</h3>
  </div>
  <div class="modal-body">
    <p id="po-text">One fine body…</p>
    <p><span id="po-edit-link"></span></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="edit-save" onclick="editProjectOverview(true)">Edit</button>
  </div>
</div>
