<h5>PROJECT OVERVIEW</h5>

<form name='projectOverview' id="projectOverview" style="margin-bottom: 0px; padding-bottom: 0px;">

<textarea type='text' id='projectOverviewInput' rows="6" placeholder='Description of project...' style="overflow: auto;  -->
  overflow-y: auto;
  word-wrap:break-word;
  width: 96.5%;
  resize:none;
  padding:5px;
  border:solid 1px #c3c3c3;"></textarea>
  
  <button class="btn btn-default" type="button">Cancel</button>

  <button class="btn btn-success" type="button" onclick="saveProjectOverview()" style="float: right;">Save</button>

 
</form>
