#memberPills li {
    float: none!important;
    padding: 5px 0;
}

.task_rectangle {
    cursor:pointer;
}

#timeline-container {
    position: relative;
}

.overlay {
    height: 100%;
    width: 2400px;
    background-color: rgba(0, 0, 100, 0);
    display: none;
    position: absolute;
}

#save_form {
	float: left;
}

#addTimeBtn {
	float: right;
}

#member-container {
	height: 200px;
}

#search-events-container {
	height: 385px;
}

.event-block {
	border: 1px solid;
	margin: 5px;
	padding: 5px;
}