<script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>

 <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
                        <script src="http://js.pusher.com/2.1/pusher.min.js"></script>      
                        <script src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>
                        <link href="pusher-realtime-chat-widget/src/pusher-chat.css" rel="stylesheet" type="text/css" />
         


<h1>Welcome to Foundry!</h1>
<%= link_to "Flash Teams Library", controller: "flash_teams" %>